<div class="card">
    <h4 class="card-header">Education</h4>
    <ul class="list-group list-group-flush">

    {% for edu in education %}
    <li class="list-group-item">
            <div class="row align-items-center">

                <div class="col-md-3">
                    {{ edu.year_range_str }}
                </div>

                <div class="col-md-9">
                            {% if edu.small_icon %}
                                <img src="{{ edu.small_icon.url }}" class="card-img pr-2" alt="..." style="width: 50px">
                            {% endif %}
                            {{ edu.school_name_full }}
                        <p class="card-text">{{ edu.degree }} in {{ edu.major }}</p>
                </div>

            </div>
        </li>
    {% empty %}
        No Education to list
    {% endfor %}
    </ul>
</div>