<div class="container">
    <h4 class="display-5">Experience</h4>
    {% for experience in experiences %}
        <div class="card border-0 mb-3">
            <div class="row no-gutters">

                <div class="col-md-3">
                    <p class="text-muted pt-4">{{ experience.month_year_range_str }}</p>
                                            <p class="card-text"><small class="text-muted">{{ experience.location }}</small></p>

                </div>

                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title ">
                            <a href="{{ experience.company_link }}" class="pr-4">
                                {% if experience.company_small_logo %}
                                    <img src="{{ experience.company_small_logo.url }}" class="card-img pr-2" alt="..."
                                         style="width: 50px">
                                {% endif %}
                                {{ experience.company }}
                            </a>
                            {{ experience.title }}

                        </h5>

                        <p class="card-text">{{ experience.description }}</p>
                    </div>

                </div>
            </div>
        </div>
    {% empty %}
        No Experience to list
    {% endfor %}
</div>