<div class="card">
    <div class="card-header h4">Experience</div>
    <ul class="list-group list-group-flush">

    {% for experience in experiences %}

        <li class="list-group-item">

            <div class="row align-items-center">

                <div class="col-md-3">
                    <small class="text-muted">{{ experience.location }}</small>
                </div>

                <div class="col-md-6">
                    {{ experience.title }}
                </div>

                <div class="col-md-3">
                    <a href="{{ experience.company_link }}" class="pr-4">
                        {% if experience.company_small_logo %}
                            <img 
                                src="{{ experience.company_small_logo.url }}"
                                class="card-img" alt="..."
                                style="width: 50px"
                                >
                        {% endif %}
                        {{ experience.company }}
                    </a>
                </div>

            </div>

            <div class="row align-items-center">

                <div class="col-md-3">
                    {{ experience.month_year_range_str }}
                </div>

                <div class="col-md-9">
                        <p>{{ experience.description | safe }}</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    {% if experience.tags.exists %}
                        <div class="flex">
                            {% for tag in experience.tags.all %}
                                <span class="badge text-bg-info shadow-sm">{{ tag | lower }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        </li>
        {% empty %}
        No Experience to list
        {% endfor %}
    </ul>

</div>