<div class="card">
    <h4 class="card-header">Projects</h4>
    <ul class="list-group list-group-flush">

    {% for project in projects %}
        <li class="list-group-item">
            <div class="row no-gutters">

                <div class="col-md-3">
                    <p class="text-muted pt-4">{{ project.get_date_range_str }}</p>
                </div>

                <div class="col-md-9">
                    <div class="card-body pb-0">
                        <h5 class="card-title">
                            {% if project.project_logo %}
                                <img src="{{ project.project_logo.url }}" class="card-img" alt="...">
                            {% endif %}
                            <a href="{% url 'resume:project_detail' project.title_slug %}">{{ project.title }}</a>
                        </h5>
                        <p class="card-text">{{ project.resume_content | safe }}</p>
                    </div>

                    {% if project.skills.exists %}
                        <div class="card-footer bg-white border-0 py-0">
                            {% for skill in project.skills.all %}
                                <span class="badge badge-pill badge-primary shadow-sm">{{ skill | lower }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </li>
    {% empty %}
        No Projects
    {% endfor %}
    </ul>
</div>