{% extends '__base.html' %}

{% block title %}Jonathan F Sanchez | Resume{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto col-lg-10">
        {% for section in section_order %}
            {% if section == 'Projects' %}
                {#    PROJECTS#}
                <div class="py-3">
                    {% include "resume/_project_list.html" with projects=projects only %}
                </div>
            {% elif section == 'Experience' %}
                {#    EXPERIENCE#}
                <div class="py-3">
                    {% include "resume/_experience_list.html" with experiences=experiences only %}
                </div>
            {% elif section == 'Education' %}
                {#    EDUCATION#}

                <div class="py-3">
                    {% include "resume/_education_list.html" with education=education only %}
                </div>

            {% elif section == 'Skills' %}
                {#    SKILL#}
                <div class="py-3">
                    {% include "resume/_skill_list.html" with skills=skills only %}
                </div>
            {% elif section == 'Courses' %}
                {#    COURSES#}
                <div class="py-3">
                    {% include "resume/_courses_list.html" with courses=courses only %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
